* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    /* display: flex;
    justify-content: center; */
}

.wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "contact" 
    "header"
    "navigation"
    "welcome"
    "living"
    "relaxing"
    "sleeping"
    "footer";
}

.contact {
    color: white;
    margin: 1px;
    display: flex;
    height: 2rem;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
.contact .contact__img {
    width: 1rem;
}
.contact .contact__call-mail{
    background-color: white;
    border: solid white 1px;
    border-radius: 50%;
    width: 1rem;
}

.header {
    height: 8rem;
    background-color: rgb(255, 255, 255);
    background-image: url(../IMG/bonz.ai-logo-black-landscape.png);
    background-position-x:center;
    background-position-y: -5% ;
    background-size: 70%;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

.welcome {
    height: 28rem;
    background-image: url(../IMG/04-day.jpg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.welcome .welcome__heading{
    font-size: 7.5rem;
    margin-top: auto;
    margin-bottom: 0;
    transform: translateY(1.9rem);
   
}
