* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 7rem;
    margin-left: 55px;
    margin-bottom: 0;
    transform: translateY(-23%);
}
h3 {
    font-size: 2.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(58, 135, 180, 0.831);
}
h4 {
    font-size: 2rem;
    margin: 0;
    width: 200px;
}
h6 {
    font-size: 17px;
}
p {
    color: white;
    margin-bottom: 5rem;
    color: rgb(123, 80, 52);
}
ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
li {
    text-align: left;
}
a {
    color: black;
    text-decoration: none;
}

.book-button {
    margin: 2px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(58, 135, 180, 0.831);
}
.book-button:hover{
    background-color: rgb(63, 135, 177);
}

.wrapper {
    max-width: 1000px;
    width: 100%;
}

.contact {
    color: white;
    margin: 1px;
    display: flex;
    height: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    opacity: 0.594;
    transition: .5s;
    padding-top: 0;
}
.contact:hover{
    opacity: 0.900;
}
.contact .contact__img {
    width: 1rem;
    transform: translateY(.2rem);
    transition: 0.1s;
}
.contact .contact__call-mail {
    background-color: white;
    border: solid white 1px;
    border-radius: 50%;
    width: 1rem;
    transition: .1s;
}
.contact .contact__call-mail:hover {
    transform: scale(1.1);
}
.contact .contact__img:hover {
    transform: scale(1.2);
}

.header {
    height: 8rem;
    background-color: rgb(125, 78, 46);
    /* background: rgb(58,135,180); */
    background-image: url(../IMG/bonz.ai-logo-black-landscape.png);
    background-position-x:center;
    background-position-y: -5% ;
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;

}
.header__box {
    width: 5.7rem;
    height: 8rem;
    background-color: rgba(58, 135, 180, 0.863);
    border-right: 2px solid;
}
.header__text p {
    color: black;
    width: 5rem;
    font-size: 20px;
    font-weight: 700;
    margin-right: 60px;
    transform: translateY(1.15rem);
}

.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 2.6rem;
}
.navigation__item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.594);
    margin-top: 1px;
}
.navigation__item:hover{
    color: rgba(255, 255, 255, 0.911);
}

.welcome {
    height: 28rem;
    background-image: url(../IMG/04-day.jpg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 30px;
}
.welcome .welcome__heading{
    font-size: 7.5rem;
    margin-top: auto;
    margin-bottom: 0;
    transform: translateY(1.9rem);  
}

.wrapper-grid {
    max-width: 1000px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
    "living-night living-night living-book"
    "living-day living-day living-book"
    "relaxing-book relaxing-night relaxing-night"
    "relaxing-book relaxing-day relaxing-day"
    "sleeping-night sleeping-night sleeping-book"
    "sleeping-day sleeping-day sleeping-book"
    "footer footer footer";
}

.card {
    height: 10rem;
    background-position-y: 300px;
    background-position-x:center;
    background-position-y: 75%;
    background-size: 80%;
    background-repeat: no-repeat;
    margin: 0;
}

.living-night {
    grid-area: living-night;
    background-image: url(../IMG/05-night.jpg);
}
.living-day {
    grid-area: living-day;
    background-image: url(../IMG/05-day.jpg);
    margin-bottom: 20px;
}
.living-book {
    grid-area: living-book;
    padding: 2rem 2rem 2rem 0rem;
}
.living-book-text {
    margin-left: 0;
    margin-bottom: 30px;
}
.living-book-text-left {
    margin-right: 0;
    margin-bottom: 30px;
}

.relaxing-night {
    grid-area: relaxing-night;
    background-image: url(../IMG/09-night.jpg);
}
.relaxing-day {
    grid-area: relaxing-day;
    background-image: url(../IMG/09-day.jpg);
    margin-bottom: 20px;
}
.relaxing-book {
    grid-area: relaxing-book;
    padding: 2rem 0rem 2rem 2rem;
    text-align: right;
}

.sleeping-night {
    grid-area: sleeping-night;
    background-image: url(../IMG/03-night.jpg);
}
.sleeping-day {
    grid-area: sleeping-day;
    background-image: url(../IMG/03-day.jpg);
}
.sleeping-book {
    grid-area: sleeping-book;
    padding: 2rem 2rem 2rem 0rem;
}

.footer {
    grid-area: footer;
    height: 8rem;
    margin-top: 30px;
    color: rrgb(125, 78, 46);
    background-color: rgba(58, 135, 180, 0.863);
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    background-image: url(../IMG/bonz.ai-logo-black-landscape.png);
    background-position-x:center;
    background-position-y: -5% ;
    background-size: 70%;
    background-repeat: no-repeat;
}
.footer__info {
    width: 9rem;
    transform: translateY(-.37rem);
}
.footer__box {
    width: 5.7rem;
    height: 8rem;
    background-color: rgb(125, 78, 46);
    border-right: 2px solid;
    transform: translateY(-2.87rem);
}
.footer .footer__info ul {
    transform: translateY(-0.8rem);
    margin-left: 0;
    font-size: 20px;
    font-weight: 700;
}
.footer .footer__info ul li a {
    text-decoration: none;
    color: black;
}
.footer .footer__info ul li a:hover{
    color: rgba(255, 255, 255, 0.848);
}

/* ----- book ----- */

.book-title, .book-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
    margin: 0;
}
.book-text {
    font-size: 14px;
    font-weight: 400;
}

.book__search {
    background-color: rgb(125, 78, 46);
    height: 14rem;
    margin-top: 30px;
    margin-bottom: 25px;
}
.book-title {
    margin-top: 30px;
    font-size: 25px;
}
.book__search-title h5{
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
.book__search-title {
    padding: 1px;
}
.book__search-date, .book__search-room, .book__search-code {
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin: 4px;
    border-radius: 5px;
    font-size: 16px;
}
.book__card {
    background-color: white;
    display: flex;
    justify-content: ;
    border-bottom: solid black 10px;
    border-top: solid black 10px;
    color: rgb(125, 78, 46);
    display: flex;
}
.book__card__info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    margin-left: 20px;
}
.book__card__info h6, p, ul{
    margin: 10px;
}
.book__card__info p {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(194, 194, 194)
}
.book__card__lists {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgba(0, 0, 0, 0.579) 1px;
}
.book__card__list li {
    list-style: circle;
}
.book__card__dubble {
    width: 15rem;
    height: 20rem;
    background-image: url(../IMG/04-day.jpg);
    background-position-x:center;
    background-position-y: 35% ;
    background-size: 250%;
    background-repeat: no-repeat;
    margin: 0;
}
.book__card__single {
    width: 15rem;
    height: 20rem;
    background-image: url(../IMG/07-day.jpg);
    background-position-x:center;
    background-position-y: 45% ;
    background-size: 250%;
    background-repeat: no-repeat;
    margin: 0;
}
.book__card__family {
    width: 15rem;
    height: 20rem;
    background-image: url(../IMG/03-day.jpg);
    background-position-x:center;
    background-position-y: 45% ;
    background-size: 250%;
    background-repeat: no-repeat;
    margin: 0;
}
.book__card__deluxe {
    width: 15rem;
    height: 20rem;
    background-image: url(../IMG/01-day.jpg);
    background-position-x:center;
    background-position-y: 45% ;
    background-size: 250%;
    background-repeat: no-repeat;
    margin: 0;
}
.book__card__info .book-button {
    width: 80px;
    align-self: flex-end;
    margin-top: 15px;
}

/* ----- about ----- */

.about {
    margin: 0;
    height: 28rem;
    background-image: url(../IMG/09-day.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.about__title {
    font-size: 7.5rem;
    margin: 0;
    align-self: flex-start;
}
.about__people {
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.about__family {
    height: 26rem;
    margin: 0;
}
.about__figure {
    margin: 0;
} 
.about__text-title, .about__text {
    text-align: center;
}