* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    /* display: flex;
    justify-content: center; */
}

.wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "contact" 
    "header"
    "navigation"
    "welcome"
    "living"
    "relaxing"
    "sleeping"
    "footer";
}

.contact {
    color: white;
    margin: 1px;
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
}
.contact .contact__img {
    width: 1rem;
}
.header {
    height: 10rem;
    background-color: rgb(255, 255, 255);
    background-image: url(../IMG/bonz.ai-logo-black-landscape.png);
    background-position-x:center;
    background-position-y: 180%;
    background-size: 50%;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}